<div class= "book-details border-css">
  <div class="book-image">
    <% if @book.picture.blank? %>
      <div class = "picture-ab">画像がありません</div>
    <% else %>
      <%= image_tag @book.picture.url %>
    <% end %>
  </div>
  <div class="book-description">
    <h1><%= @book.title %></h1>
    <div>
      評価: <div class="field" id="star-raty-book"></div><%= evalu_average(@book) %>
    </div>
    <script>
      $(window).ready(function(){
        $('#star-raty-book').empty();
        $('#star-raty-book').raty({
          size    : 36,
          starOff :  '<%= asset_path('star-off.png') %>',
          starOn  : '<%= asset_path('star-on.png') %>', 
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score   :<%= evalu_average(@book) %>,
        });
      });
    </script>
    <%= render 'favorites/favorite' %><br>
    <p>作成者: <%= link_to user_name_chenge(@book), books_posts_path(id: @book.user_id), class: "button-t-c" %></p>
    <p>
      作成日: <%= @book.created_at %>&emsp;&emsp;
      更新日: <%= @book.updated_at %>
    </p>
    <p>内容:&emsp;<%= @book.content %></p>
  </div>
</div>

<% unless current_user.nil? %>
  <% unless @book.user_id == current_user.id %>
  <div class= "book-details border-css-book evaluation-user">
    <div>
      <% unless @user_evaluation.blank? %>
        名前:<%= current_user.name %>
      <% end %>
      <% if @user_evaluation.nil? %>
        まだ評価をしていません。
        <div class= "button"><%= link_to "評価する", new_evaluation_path(book_id: @book.id) %></div>
      <% else %>
        <div class= "button"><%= link_to "編集", edit_evaluation_path(book_id: @book.id) %></div>
      <% end %>
    </div>
   
    <% unless @user_evaluation.blank? %>
      <div>
        評価:<div class="field" id="star"></div><%= @user_evaluation.star %>
      </div>
        <script>
          $(window).ready(function(){
            $('#star').empty();
            $('#star').raty({
              size    : 36,
              starOff :  '<%= asset_path('star-off.png') %>',
              starOn  : '<%= asset_path('star-on.png') %>', 
              readOnly: true,
              score   :<%= @user_evaluation.star %>,
            });
          });
        </script>
          
      <div>
        コメント:&emsp;<%= @user_evaluation.comment %>
      </div>
    <% end %>
  </div>
  <% end %>
<% end %>

<% @evaluations.each do |evaluation| %>
  <div class= "book-details border-css-book">
    <div>
      名前:<%= evaluation.user_id %>
    </div>
    
    <div>
      評価:<div class="field" id="star-rate-<%= evaluation.id %>"></div><%= evaluation.star %>
    </div>
      <script>
        $(window).ready(function(){
          $('#star-rate-<%= evaluation.id %>').empty();
          $('#star-rate-<%= evaluation.id %>').raty({
            size    : 36,
            starOff :  '<%= asset_path('star-off.png') %>',
            starOn  : '<%= asset_path('star-on.png') %>', 
            readOnly: true,
            score: <%= evaluation.star %>,
          });
        });
      </script>
          
    <div>
      コメント:&emsp;<%= evaluation.comment %>
    </div>
  </div>
<% end %>
  
