
<tr class= "picture_<%= picture.position %>">
  <td class= "td-center"><%= picture.position %></td>
  <td class= "text-center"><%= image_tag picture.picture.url %></td>
  <td class= "td-center">
    <%= link_to '▲', change_position_volume_path(id: picture, move: 'up'), remote: true unless picture.first? %>
    <%= link_to '▼', change_position_volume_path(id: picture, move: 'down'), remote: true unless picture.last? %>
  </td>
</tr>