<div class= "book-details border-css">
  <div class="book-image">
    <% if @book.picture.blank? %>
      <div class = "picture-ab">画像がありません</div>
    <% else %>
      <%= image_tag @book.picture.url %>
    <% end %>
  </div>
  <div class="book-description">
    <h1><%= @book.title %></h1>
    <div>
      評価:<div class="field" id="star-raty-book"></div><%= evalu_average(@book) %>
    </div>
    <script>
      $(window).ready(function(){
        $('#star-raty-book').empty();
        $('#star-raty-book').raty({
          size    : 36,
          starOff :  '<%= asset_path('star-off.png') %>',
          starOn  : '<%= asset_path('star-on.png') %>', 
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score   :<%= evalu_average(@book) %>,
        });
      });
    </script>
    <% unless current_user.nil? %>
      <%= render 'favorites/favorite' if current_user.id == @book.user.id %><br>
    <% end %>
    <p>作成者: <%= link_to user_name_chenge(@book), books_posts_path(id: @book.user_id), class: "button-t-c" %></p>
    <p>
      作成日: <%= @book.created_at %>&emsp;&emsp;
      更新日: <%= @book.updated_at %>
    </p>
    <p>内容: <%= @book.content %></p>
  </div>
</div>


<div class= "book-chapter">
  <div class= "volume-new-bottom">
    <div class= "border-css">
      <% if current_user.nil? %>
        <div class= "button"><%= link_to "コメント一覧", evaluation_path(book_id: @book.id) %></div>
      <% else %>
        <% if current_user.id == @book.user_id %>
          <div class= "button volume_new_css"><%= link_to "新規作成", new_volume_path(id: @book.id) %></div>
          <div class= "button"><%= link_to "コメント一覧", evaluation_path(book_id: @book.id) %></div>
        <% else %>
          <% if @evaluation.nil? %>
            まだ評価していません。
            <div class= "button"><%= link_to "評価する", new_evaluation_path(book_id: @book.id) %></div>
            <div class= "button"><%= link_to "コメント一覧", evaluation_path(book_id: @book.id) %></div>
          <% else %>
            名前:<%= current_user.name %>
            <div class= "button"><%= link_to "編集", edit_evaluation_path(book_id: @book.id) %></div>
            <div class= "button"><%= link_to "評価一覧", evaluation_path(book_id: @book.id) %></div>
            <div>
              評価:<div class="field" id="star"></div><%= @evaluation.star %>
            </div>
            <script>
              $(window).ready(function(){
                $('#star').empty();
                $('#star').raty({
                  size    : 36,
                  starOff :  '<%= asset_path('star-off.png') %>',
                  starOn  : '<%= asset_path('star-on.png') %>', 
                  readOnly: true,
                  score   :<%= @evaluation.star %>,
                });
              });
            </script>
            
            <div>
              コメント:&emsp;<%= @evaluation.comment %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <table class= "table-bordered" >
    <% @volumes.each.with_index(1) do |volume, i| %>
      <tr>
        <th rowspan="2" class= "chapter-index"><%= i %></th>
        <th class= "chapter-tt h-d-width" >
          <%= link_to volume.title, pictures_show_path(id: volume.id), class: "chapter-title button-t-c" %>
          <% if !current_user.nil? && current_user.id == @book.user_id %>
            <div class= "button"><%= link_to "順番変更", picture_show_path(id: volume.id) %></div>
            <div class= "button"><%= link_to "編集", edit_volume_path(id: volume.id) %></div>
            <div class= "button"><%= link_to '削除', volume, method: :delete, data: { confirm: "削除してもいいですか？" } %></div>
          <% end %>
        </th>
      </tr>
      <tr>
        <td class= "h-d-width"><%= volume.content %></td>
      </tr>
    <% end %>
  </table>
</div>