<h1>Volumes#show</h1>
<%= link_to 'new', new_volume_path(id: @book.id) %>
<% @volumes.each do |volume| %>

  <%= volume.title %>
  <%= link_to 'edit', edit_volume_path(volume) %>
  <%= link_to 'destroy', volume, method: :delete, data: { confirm: "削除してもいいですか？" } %>
  <%= volume.id %>
  <%= link_to 'picture', volumes_path(id: volume.id) %><br>

<% end %>