<h1>Volumes#show</h1>
<div class= "book-details">
  <div class="book-image">
    <%= image_tag @book.picture.url %>
  </div>
  <div class="book-description">
    <h1 class= "book-description-title">Title: <%= @book.title %></h1>
    <%= render 'favorites/favorite' %>
    <p>Author: <%= user_name_chenge(@book) %></p>
    <p>
      Created date: <%= @book.created_at %>
      Updated date: <%= @book.updated_at %>
    </p>
    <p>content: <%= @book.content %></p>
  </div>
</div>


<div class= "book-chapter">
  <div>
  <div><%= link_to "new", new_volume_path(id: @book.id) %></div>
  <div><%= link_to "coment_new", new_evaluation_path(book_id: @book.id) %></div>
  <div><%= link_to "coment_edit", edit_evaluation_path(book_id: @book.id) %></div>

  </div>
  <% @volumes.each.with_index(1) do |volume, i| %>
    <table class= "table-bordered" >
      <tr>
        <th rowspan="2"class= "chapter-index"><%= i %></th>
        <th class= "chapter-title" >
          <%= link_to volume.title, pictures_show_path(id: volume.id), class: "chapter-title" %>
          <%= link_to "position", picture_show_path(id: volume.id) %>
          <% if current_user.id == @book.user_id %>
            <%= link_to "edit", edit_volume_path(id: volume.id) %>
            <%= link_to 'destroy', volume, method: :delete, data: { confirm: "削除してもいいですか？" } %>
          <% end %>
        </th>
      </tr>
      <tr>
        <td><%= volume.content %></td>
      </tr>
    </table>
  <% end %>
</div>