<%= form_with(model: @book, local: true) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  
  <%= f.label :content %>
  <%= f.text_area :content, size: "20x10", maxlength: "350", class: "form-control" %><br>
  
  
  <% if @book.picture? %>
    <%= image_tag @book.picture.url %>
    <br><p><%= f.check_box :remove_picture %>画像を削除する</p>
  <% end %>
  <%= f.file_field :picture, id: :book_img, accept: 'image/jpeg,image/gif,image/png' %>
  
  <div id="picture_prev" ></div><br>
  
  <div class= "submit-button">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

<% end %>


<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     $('#picture_prev').empty();
     reader.onload = function (e) {
       $('#picture_prev')
         .append("<br>")
         .append("新規画像")
         .append("<br>")
         .append($("<img/>").attr({'src': e.target.result, width: 200, height: 297}))
         ;}
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#book_img").change(function(){
   readURL(this);
 });
});
</script>