<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class= "container">
      <div class="row">
    　　<div class= "col-sm-3">
    　　    <%= render 'layouts/sidbar' %>
   　　   </div>
      <div class="col-sm-9">
        <%= yield %>
      </div>
    </div>
    </div>
  </body>
</html>
